# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.ConsoleApp3.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\mikohei\RiderProjects\ConsoleApp3\.idea\.idea.ConsoleApp3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
